@inherits FormComponentBase

@if (LayoutContext is not null)
{
    @foreach (var column in LayoutContext.Columns)
    {
        <div class="@FormCssClasses.Column">
            <FormElementSelector Context="@column" />
        </div>
    }
}

@code {
    [Parameter, EditorRequired]
    public FormHorizontalLayoutContext? LayoutContext { get; set; }
}
